nav {
    height: 100px;
    background-color: coral;
    /* margin-top: 20px; */
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 10%;
    height: 30px;
    background-color: black;
}

.search input {
    width: 60%;
    height: 25px;
    /* margin-right: 10px; */
}

.search button {
    padding: 5px 10px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

ul li a:hover {
    text-decoration: underline;
}
